footer {
    background-color: $quaternary;
    padding-top: 25px;
}

.footerNav {
    display: flex;
    margin: 0 0;
    justify-content: space-between;   
    align-items: flex-start;
}

.footerNav ul {
    min-width: calc(100%/3);
    justify-content: center;
    align-items: center;
    color: #fff;
}

.left {
    position:relative;
    padding-right: 50px;
}



.copyright{
    display: flex;
    background-color: $primary;
    justify-content: center;
    align-items: center;
}

.copyright span {
    color: $greenFont;
}

.footerForm {
    padding: 2px;
}

.right button {
    color: #fff;
    border: solid 1px $primary;
    background-color: $greenFont;
    padding: 2px;
    margin: 0;
}

.footerEmail {
    background-color: #656565;
    color: $secondary;
}


input[type=text]:focus {
    background-color: #fff;
}