//HERO IMAGE//
.menu {
    background-image: url(../assets/home-1.jpeg);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 976px;

}



// RECIPES GALLERY STYLES//

.recipes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

//box 1//
.recipesList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.recipesList li {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}

.recipesList h2 {
    position:relative
}

.recipesList h2::after {
    content: '';
    height: 4px;
    width: 17%;
    bottom: -16px;
    position: absolute;
    background: $greenFont;
    margin: 0 auto;
    left: 0px;
    right: 0;
}

.recipesList p {
    padding: 20px 150px;
    text-align: center;
}

.recipesList button {
    background-color: $greenFont;
    color: $tertiary ;
    border: 1px solid #539900;
    padding: 20px 45px;
    font: 16px $titleFont;
    font-weight: normal;
}  

//box2//

.recipes img {
    width: 50%;
    height: auto;
}

//CATEGORIES STYLES//

.categories {
    background-color: $tertiary;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.categories img {
    width: 50%;
    max-height: 100%;
}

.categories div {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    width: 50%;
}

.categories ul {
    width: 40%;

}


// OUR RESTAURANT//

.ourRestaurants {
    padding: 250px 0px 175px 0px;
    // position: relative;
}

.ourRestaurants .logo {
    position: absolute;
    left: 58%;
    padding-bottom: 25px;
}

.ourRestaurants ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ourRestaurants ul li h2,
.ourRestaurants ul li p {
    flex-direction: column;
    text-align: center;
}

.ourRestaurants li h2 {
    position: relative;
}

.ourRestaurants li h2::after {
    content: '';
    height: 4px;
    width: 26%;
    bottom: -25px;
    position: absolute;
    background: $greenFont;
    margin: 0 auto;
    left: 13px;
    right: 0;
}

.ourRestaurants p {
    padding-top: 20px;
}




//GALLERY STYLES//

// .gallery {
//     margin: 0;
//     width: 100%;
// }

// .galleryImgList li {
//     display: flex;
//     flex-wrap: wrap;
//     max-width: calc(100%/3);
// }

// .galleryImgList {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0;
//     padding: 0;
// }

// .gallery ul li img {
//     min-width: calc(100%/3);
// }


//HUNGRY CLIENTS SECTION//

.hungryClients {
    background-color: rgb(213, 236, 136);
    padding: 100px;
    position: relative;
}

.hungryClients ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hungryClients h2 {
    position: relative;
}

.hungryClients ul h2::after {
    content: '';
    height: 4px;
    position: absolute;
    background: $greenFont;
    margin: 0 auto;
    right: 35%;
    width: 28%;
    bottom: -50%;
}

.hungryClients ul li {
    flex-direction: row;
    flex-basis: auto;
}

blockquote {
    text-indent: -0.45em;
    text-align: center;
    font-style: italic; 
    quotes: "\201C" "\201D" "\2018" "\2019";
    position: relative;
}

blockquote:before {
    content: open-quote;
    font-family: $titleFont;
    font-weight: bold;
    font-size: 150px;
    line-height: 110%;
    color: #FFF;
    position: absolute;
    left: -15%;
    top: -11%;
}

blockquote:after {
    content: close-quote;
    font-family: $titleFont;
    font-weight: bold;
    font-size: 150px;
    line-height: 110%;
    color: #FFF;
    position: absolute;
    bottom: -37%;
    right: -11%;
}

.navArrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowRight {
    color: #fff;
    font-size: 40px;
    padding-left: 25px;
}

.arrowLeft {
    color: #fff;
    font-size: 40px;
    padding-right: 25px;
    opacity: 50%;
}