//TOP NAVIGATION//


html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body, 
ul {
    list-style: none;
}


.menu,
.blogMenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
}

.menu div ul,
.blogMenu div ul {
    justify-content: space-between;
    align-items: flex-end;
}

.menu a,
.blogMenu a {
    font-family: $titleFont;
    letter-spacing: 0.5px;
    font: 15px 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding-right: 35px;
}



